/*
1. Posicionamiento
2. Modelo Caja (box model)
3. tipografia
4. visual
5. otros
*/
:root{
    /* COLORES */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --white: #fff
}